#button1{
    position: relative;
    transition: top 0.5s, left 0.5s;
}
button{
    height: 60px;
    width: 200px;
}
h1{
    font-size: 50px;
}
#barcode{
    width: 0rem;
    height: 0rem;
    transition: width 0.8s, height 0.8s;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.container{
    background-color: rgb(180, 105, 105);
    width: 10rem;
    height: 10rem;
}
@keyframes anim {
    0%   {transform: scale(1) ;}
    25%  {transform: scale(0.9) rotate(10deg);}
    50%  {transform: scale(1.2) rotate(-10deg);}
    75%  {transform: scale(0.8);}
    100% {transform: scale(1);}
  }